@import 'tailwindcss';

.cube {
    --cubeSize: 10.6rem;

    height: var(--cubeSize);
    width: var(--cubeSize);

    display: grid;
    transform-style: preserve-3d;
    transition-duration: 200ms;

    @media (width < 48rem) {
        --cubeSize: 8.7rem;
    }

    @media (width < 40rem) {
        --cubeSize: 5rem;
    }
}
.cube .cube-side {
    grid-area: 1/1;
    width: var(--cubeSize);
    aspect-ratio: 1;
    object-fit: cover;
    transform: var(--_t) translateZ(calc(var(--cubeSize) / 2));
}

.cube .front {
    --_t: translateZ(0);
}

.cube .bottom {
    --_t: rotateX(-90deg);
}

.cube .right {
    --_t: rotateY(90deg);
}

.cube .back {
    --_t: rotateX(180deg);
}

.cube .top {
    --_t: rotateX(90deg);
}

.cube .left {
    --_t: rotateY(-90deg);
}

.top-rotation-cube:hover,
.rotate-to-top {
    transform: rotateX(-90deg);
}
.bottom-rotation-cube:hover,
.rotate-to-bottom {
    transform: rotateX(90deg);
}
.left-rotation-cube:hover,
.rotate-to-left {
    transform: rotateY(90deg);
}
.right-rotation-cube:hover,
.rotate-to-right {
    transform: rotateY(-90deg);
}

.cube-container-2 {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #556270;
}
