@import 'tailwindcss';

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary-black: #1e1e1e;
    --color-secondary-black: #2e2e2e;
    --color-dark-font: #444444;

    --container-default: var(--maxScreenWidth);

    --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
    @keyframes fade-in-scale {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    --animate-fade-in-scale-forwards: fade-in-scale-forwards 0.3s forwards
        ease-out;
    @keyframes fade-in-scale-forwards {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: #eeeeee;
    --foreground: #171717;
    --maxScreenWidth: 75rem;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        @apply bg-[#1e1e1e] w-2;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #dbdbdb;
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        @apply bg-[#dbdbdb] h-2;
    }
    &::-webkit-scrollbar-thumb {
        @apply bg-gray-500;
    }
}

.text-shadow {
    text-shadow: 1rem 1rem 2.5rem #dadada;
}
