@import 'tailwindcss';

.view-resume-button {
    height: 3.5rem;

    .button-wrapper,
    .text,
    .icon {
        @apply overflow-hidden absolute size-full left-0 text-white;
    }

    .text,
    .icon {
        @apply transition-[top] duration-500;
    }

    &:hover .text {
        top: -100%;
    }

    &:hover .icon {
        top: 0;
    }
}
